{%load bootstrap4%}
{%load static%}
<div class="container px-4 py-5 mt-3 bg-light rounded">
    <h2 class="pb-2 border-bottom text-center fs-1">Certificados</h2>

    <section class="container bg-light mt-3 mx-auto p-0 gap-3 w-100 rounded">
    
            <div class="album py-5 bg-light">
                <div class="container">
    
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5">
                       
                        {%for c in certificados%}
                        <div class="col h-100">
                            <div class="card shadow-sm">
                                <img src="{{c.imagem.thumb.url}}" alt="{{c.curso}}"
                                    class="bd-placeholder-img card-img-top" width="100%" height="230" role="img"
                                    aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                    focusable="false">
                                <div class="card-body text-left">
                                    <h2>{{c.curso}}</h2>
                                    <h4 class="card-subtitle text-muted">{{c.instituicao}}</h4>
                                    <div class="d-flex justify-content-between align-items-center my-4">
                                        <small class="text-muted">{{c.dataConclusao}}</small>
                                        <small class="text-muted">{{c.totalHoras}} Horas</small>
                                    </div>
                                    <div class="btn-group justify-content-between">
                                        <a href="{{c.urlvalidacao}}" class="btn btn-sm btn-secondary" target="_blank">Validação</a>
                                        <a href="#" class="btn btn-sm btn-primary" target="_blank">Ampliar</a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        {%endfor%}
    
                    </div>
                </div>
            </div>

    </section>

</div>