{%load bootstrap4%}
{%load static%}
<section class="w-75 p-3 rounded bg-light">
    <article>
        <section class="py-1 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Principais Projetos</h1>
                    <p class="lead text-muted">Something short and leading about the collection below—its contents, the
                        creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it
                        entirely.</p>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
                    
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{%static 'img/portifolio.png'%}" alt="" class="bd-placeholder-img card-img-top" width="100%" height="225"
                            role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <div class="card-body">
                                <h2>Meu Portifólio</h2>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo consequatur velit aspernatur quis qui, laborum incidunt dolor illum excepturi asperiores voluptatem ex, praesentium eaque dolorem suscipit maiores aliquid natus facere.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-primary">GitHub</button>
                                        <button type="button" class="btn btn-sm btn-outline-primary">On-Line</button>
                                    </div>
                                    <small class="text-muted">20/12/2022</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{%static 'img/scraping.png'%}" alt="" class="bd-placeholder-img card-img-top" width="100%" height="225"
                            role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <div class="card-body">
                                <h2>Varrendo Dados</h2>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo consequatur velit aspernatur quis qui, laborum incidunt dolor illum excepturi asperiores voluptatem ex, praesentium eaque dolorem suscipit maiores aliquid natus facere.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-primary">GitHub</button>
                                        <button type="button" class="btn btn-sm btn-outline-primary">On-Line</button>
                                    </div>
                                    <small class="text-muted">01/11/2022</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{%static 'img/scraping.png'%}" alt="" class="bd-placeholder-img card-img-top" width="100%" height="225"
                            role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <div class="card-body">
                                <h2>Varrendo Dados</h2>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo consequatur velit aspernatur quis qui, laborum incidunt dolor illum excepturi asperiores voluptatem ex, praesentium eaque dolorem suscipit maiores aliquid natus facere.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-primary">GitHub</button>
                                        <button type="button" class="btn btn-sm btn-outline-primary">On-Line</button>
                                    </div>
                                    <small class="text-muted">01/11/2022</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{%static 'img/scraping.png'%}" alt="" class="bd-placeholder-img card-img-top" width="100%" height="225"
                            role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <div class="card-body">
                                <h2>Varrendo Dados</h2>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo consequatur velit aspernatur quis qui, laborum incidunt dolor illum excepturi asperiores voluptatem ex, praesentium eaque dolorem suscipit maiores aliquid natus facere.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-primary">GitHub</button>
                                        <button type="button" class="btn btn-sm btn-outline-primary">On-Line</button>
                                    </div>
                                    <small class="text-muted">01/11/2022</small>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </article>
</section>