{%load bootstrap4%}
{%load static%}
<section id="principais-projetos" class="w-75 p-3 rounded bg-light">
    <article>
        <section class="py-1 text-center container">
            <div class="row py-lg-3">
                <div class="col-lg-10 col-md-8 mx-auto">
                    <h1 class="fw-light">Principais Projetos</h1>
                    <p class="lead text-muted">Seja bem vindo ao meu portifólio, abaixo segue uma pequena lista dos
                        principais projetos já desenvolvidos por mim. Você pode ver a lista completa navegando no menu
                        acima em "Projetos" e ou visualizar os códigos fontes destes no meu <a
                            href="https://github.com/michellssgui22" target="_blank"
                            class="badge text-primary fs-5 p-0">GitHub.</a> </p>
                    <p class="lead text-muted">Sinta-se à vontade para explorar...</p>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">

                    {%for p in projetos%}
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{%static 'img/meu-portifolio.png'%}" alt=""
                                class="bd-placeholder-img card-img-top" width="100%" height="225" role="img"
                                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <div class="card-body">
                                <h2>{{p.titulo}}</h2>
                                <p class="text-justify">{{p.comentario}}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group gap-1">
                                        <a href="{{p.urlgit}}" class="btn btn-sm btn-secondary" target="_blank">GitHub</a>
                                        <a href="{{p.urlsite}}" class="btn btn-sm btn-primary" target="_blank">On-Line</a>
                                    </div>
                                    <small class="text-muted">{{p.dataConclusao}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endfor%}

                </div>
            </div>
        </div>
    </article>
</section>