{%load bootstrap4%}
{%load static%}
<section class="sobre p-3 rounded bg-light w-25">
    <figure class="border-5 w-100">
        <img src="{%static 'img/eu.jpeg'%}" alt="" class="w-50 m-auto rounded-circle mt-2">
        <figcaption class="my-2 mx-auto">
            <h1 style="font-size: 1.5rem;">Michel Souza Santana</h1>
            <p style="font-size: 0.8rem;">Data Analytics | Web Scraping | Python Developer</p>
        </figcaption>
    </figure>
    <ul class="container text-left w-100" style="list-style: none;">
        <li>
            <a href="#" class="w-100 my-2 d-flex justify-content-start badge border rounded text-muted text-dark p-2 my-4 mx-0">
                <img src="{%static 'img/e-mail.png'%}" alt="" class="ml-0 my-auto" style="width: 9%;">
                <p class="ml-2 my-auto">michellss.py@gmail.com</p>
            </a>
        </li>
        <li>
            <a href="#" class="w-100 my-2 d-flex justify-content-start badge border rounded text-muted text-dark p-2 my-4 mx-0">
                <img src="{%static 'img/whatsapp.png'%}" alt="" class="ml-0 my-auto" style="width: 9%;">
                <p class="ml-2 my-auto">(47) 9 9665-8601</p>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/michelgui/" target="_blank" class="w-100 my-2 d-flex justify-content-start badge border rounded text-muted text-dark p-2 my-4 mx-0">
                <img src="{%static 'img/linkedin.png'%}" alt="" class="ml-0 my-auto" style="width: 9%;">
                <p class="ml-2 my-auto">Linkedin</p>
            </a>
        </li>
        <li>
            <a href="https://github.com/michellssgui22" target="_blank" class="w-100 my-2 d-flex justify-content-start badge border rounded text-muted text-dark p-2 my-4 mx-0">
                <img src="{%static 'img/github.png'%}" alt="" class="ml-0 my-auto" style="width: 9%;">
                <p class="ml-2 my-auto">GitHub</p>
            </a>
        </li>
    </ul>

</section>